@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Noto+Sans:400,700&subset=cyrillic,vietnamese');

body{
	font-family: 'Lora', serif;
}
img{
	max-width: 100%;
}

a:hover{
	text-decoration: none;
}

a p{
	color: #000;
}



#cr-country path.c3-bar,
#loc-cr g.c3-bars-Local-CR path.c3-bar{
    fill: #26A65B !important;
}

#loc-cr g.c3-bars-Desktop path.c3-bar{
    fill: #F39C12 !important;
}

#loc-cr g.c3-bars-Mobile path.c3-bar{
    fill: #1E8BC3 !important;
}


h2, h3, h4{
	color: #086A87;
	text-align:center;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}
.row {
    -webkit-box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    -webkit-box-sizing: border-box;
    display: flex;
    float:left;
    flex-direction: column;
}

.navbar-brand{
	max-width: 125px;
	padding: 10px 10px 10px 25px;
}

.navbar-default{
	background: rgba(255,255,255,0.1) !important;
	border: none;

}

.navbar-right{
	padding-right: 25px;
}

.navbar-right li a{
	color: #fff !important;
	font-weight: 400;
}

.section > h3{
	font-size: 36px;
	text-align:center;
	margin-bottom: 35px;
}

.grey-background{
	background: #f7f7f7;
}

.parallax h3{
	color: #fff;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

/*========= HEADER ======================*/
#main-header{
	display: table;
	width: 100%;
}

.section{
	padding: 35px 0px;
}
.content-block{
	width: 100%;
	display: table;
	margin: 0px auto;
	max-width: 1024px;
	clear:both;
}
.content-section{
	margin-top: 35px;
	padding-top: 35px;
}
.content-section h4{
	font-weight: normal;
	text-transform: capitalize;
	text-align: left;
	font-size: 16px;
	text-indent: 25px;
	margin-bottom: 25px;
}

/*====== Key Findings =======*/

.finding-item{
	padding: 15px 25px;
}

.finding-item a{
	text-align:center;
	display: block;
	margin: 0px auto;
}

.finding-item a img{
	height: 75px;
	width: auto;
	margin: 0px auto;
}

/*======= Executive Summary ===========*/
#executive-summary{
	background: #f7f7f7;
}

.people-detail{
	max-width: 270px;
	display: table;
	margin: 0px auto;
	margin-bottom: 50px;
	position: relative;
}

.people-detail img{
	float:left;
	width: 96px;
	height: auto;
	margin-right: 15px;
	border: 5px transparent;
	
}

.people-detail:before{
	content: " ";
	display: block;
	position: absolute;
	top:-5px;
	width: 106px;
	height: 106px;
	border: 2px solid #efefef;
	left: -5px;
	border-radius: 50%;
}

.people-detail .people-name{
	float:left;
	font-size: 21px;
	display: block;
	clear:right;
	margin-top: 15px;
}

.people-detail .title{
	font-size: 16px;
	float:left;
}

.percentage-item{
	display:table;
	width: 100%;
	text-align:center;
	margin-bottom: 35px;
}

.percentage-item > img{
	margin: 0px auto;
	float:left;
}

.percentage-item figcaption{
	margin-top: 25px;
	font-family: 'Noto Sans', sans-serif;
	clear:both;
}

.percentage-item .percentage{
	font-size: 56px;
	font-family: 'Noto Sans', sans-serif;
	color: #a9a9a9;
	display:block;
	float:left;
	line-height: 75px;
	margin-left: 15px;
}
.percentage-item img{
	width: 75px;
	height: auto;
	float:left;
	margin-left: 25px;
}

.average-report{
	max-width: 720px;
	margin: 0px auto;
	text-align:center;
}

.average-report p{
	font-size: 18px;
}
.methodology-list{
	width: 100%;
	max-width: 740px;
}

.methodology-list .media-left{
	width: 30%;
	padding: 25px;
}

.methodology-list .media-body{
	vertical-align: middle;
}

.methodology-in-number{
	margin-top: 50px;
	padding: 0px;
}

.counter{
	padding: 25px;
}
.counter figure{
	text-align:center;
}
.counter figure img{
	display: inline-block;
	width: auto;
	height: 56px;
	margin-top: -15px;
	margin-right: 15px;
}

.counter figure .number{
	display: inline-block;
	font-size: 48px;
	font-weight: bold;
	color: rgb(255, 136, 97);
	line-height: 48px;
	font-family: 'Alfa Slab One', Helvetica, sans-serif;
}

.counter figure figcaption{
	display: block;
	clear: left;
	text-align:center;
	width: 100%;
	font-size: 16px;
	margin-top: 10px;
}

#iprice-data{
	background: url('../img/iprice-data.jpg');
	background-size: 100% 100%;
}

#value-added{
	background: url('../img/value-added.jpg');
	background-size: 100% 100%;
}

.tweet-quote {
    max-width: 720px;
    width: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    text-align:center;
    font-weight: bold;
    margin: 0px auto;
    padding:50px 0px 0px 0px;
    position: relative;

}

.tweet-quote a{
    color: #FF6633;
}


.tweet-quote:before,
.tweet-quote:after{
    content: '"';
    font-size: 78px;
    position: absolute;
    opacity: 0.3;
    top: 10px;
    color: #FF6633;
    font-family: serif;
}
.tweet-quote:before{
    left: -30px;
}
.tweet-quote:after{
    right: -30px;
}

@media screen and (max-width:639px){
	
	.navbar-default{
		background: #33cccc !important;
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	}

	.navbar-toggle{
		background-color: rgba(255,255,255,1.0);
	}

	.navbar-collapse{
		position: absolute;
		top: 50px;
		width: 100%;
		background: #33cccc !important;
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	}

	.navbar-nav{
		padding: 0px 20px;
	}

	.header{
		min-height: 250px;
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 75px 30px;
	}
	
	.header h3,.header h4{
		color: #fff;
		text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
		text-transform: uppercase;
	}
	
	.header h3{
		font-size: 18px;
		margin-bottom: 10px !important;
		padding: 0px;
	}
	.header hr{
		max-width: 50%;
		margin: 0px auto;
	}
	.section{
		padding: 35px 0px;
	}
	.section h3{
		font-size: 26px;
		text-align:center;
	}

	.row > [class*='col-md']{
		width: 100%;
	}

	.content-block{
		width: 100%;
		max-width: 100%;
		padding: 0px 20px 0px 20px;
		text-align:left;
	}

	.parallax{
		background-size: 100% auto !important;
	}
}

@media screen and (min-width:1024px){

	.big-padding{
		padding: 100px 0px;
	}
	.col-md-6{
        width: 50%;
        width: -webkit-calc(50% - 10px);
        width: -moz-calc(50% - 10px);
        width: calc(50% - 10px);
    }

    .col-md-4{
        width: 33.3333%;
        width: -webkit-calc(33.3333% - 10px);
        width: -moz-calc(33.3333% - 10px);
        width: calc(33.3333% - 10px);
    }
    

	.sticky{
		background: #33cccc !important;
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	}
	
	.header{
		height: 500px;
		float:left;
		display:table;
		width: 100%;
	}

	.header h3{
		width: 100%;
		display: table;
		text-align:center;
		max-width: 750px;
		margin: 0px auto;
		margin-top: 215px;
		color: #fff;
		font-size: 36px;	
		padding: 0px;
		z-index: 1;
		position: relative;
	}


	.header hr{
		margin-top: 5px;
		max-width: 640px;
		z-index: 1;
		position: relative;
	}

	.header h4{
		width: 100%;
		display: block;
		text-align:center;
		max-width: 500px;
		margin: 0px auto;
		color: #fff;
		font-size: 48px;
		margin-top:-20px;
		z-index: 1;
		position: relative;

	}

	.header:before{
		position: absolute;
		content:" ";
		top:0;
		left:0;
		width:100%;
		height: 100%;
		display: table;
		max-height: 500px;
		z-index:0;
		background-color: rgba(0,0,0,0.3);
	}
	.parallax{
		/* Create the parallax scrolling effect */
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}

}


